$bgd-color: hsl(0, 0%, 92%);
.text-primary{color:#666666!important}
.text-secondary{color:#868e96!important}

body {
  background-color: $bgd-color;
  text-align: justify;
  @extend .text-secondary;
}

#navigation {
  position: top;
  background-color: black;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 50px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: black;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    background-color: yellow;
      i {
        color: black;
        background-color: yellow;
      }
}

#custom-search-input span{
    background-color: white;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 24px;
}
